# temporary LaTex files
*.aux
*.log
*.dvi

# compiled Python files
*.pyc
__pycache__/

# VHDL binaries
*.o
*.a
*.cf
*.vcd

# Xilinx files
# xilinx_tb/

# CLion temp files
.idea/
cmake-build-debug/

# Vim temp files
*.swp

# other binaries and compressed files
*.tar
*.gz
