# temporary LaTex files
*.aux
*.log
*.dvi

# VHDL binaries
*.o
*.a
*.cf
*.vcd

# Xilinx files
xilinx_tb/

# CLion temp files
.idea/
cmake-build-debug/
CMakeLists.txt

# Vim temp files
*.swp

# other binaries and compressed files
*.tar
*.gz
