NET "CLK" TNM_NET=CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 50 MHZ HIGH 50%;

NET "CLK"       LOC = P56   | IOSTANDARD = LVTTL;
NET "g_rst"       LOC = P38   | IOSTANDARD = LVTTL;

#NET "tclk_prev_o"         LOC = P57   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P66   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P74   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P78   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P80   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P82   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P84   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P87   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P92   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P94   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P97   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P99   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P101  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P104  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P111  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P114  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P116  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P118  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P120  | IOSTANDARD = LVTTL;

# NET "U"         LOC = P58   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P67   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P75   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P79   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P81   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P83   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P85   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P88   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P93   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P95   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P98   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P100  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P102  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P105  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P112  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P115  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P117  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P119  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P121  | IOSTANDARD = LVTTL;

# NET "U"         LOC = P51   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P41   | IOSTANDARD = LVTTL;
NET "data<0>"   LOC = P35   | IOSTANDARD = LVTTL;
NET "data<1>"   LOC = P33   | IOSTANDARD = LVTTL;
NET "INT"       LOC = P30   | IOSTANDARD = LVTTL;
NET "data<2>"   LOC = P27   | IOSTANDARD = LVTTL;
NET "data<3>"   LOC = P24   | IOSTANDARD = LVTTL;
NET "data<4>"   LOC = P22   | IOSTANDARD = LVTTL;
NET "data<5>"   LOC = P17   | IOSTANDARD = LVTTL;
NET "data<6>"   LOC = P15   | IOSTANDARD = LVTTL;
NET "data<7>"   LOC = P12   | IOSTANDARD = LVTTL;
NET "data<8>"   IOSTANDARD = LVTTL;
NET "data<9>"   IOSTANDARD = LVTTL;
NET "data<10>"   IOSTANDARD = LVTTL;
NET "data<11>"   IOSTANDARD = LVTTL;
NET "data<12>"   IOSTANDARD = LVTTL;
NET "data<13>"   IOSTANDARD = LVTTL;
NET "data<14>"   IOSTANDARD = LVTTL;
NET "data<15>"   IOSTANDARD = LVTTL;
NET "data<16>"   IOSTANDARD = LVTTL;
NET "data<17>"   IOSTANDARD = LVTTL;
NET "data<18>"   IOSTANDARD = LVTTL;
NET "data<19>"   IOSTANDARD = LVTTL;
NET "data<20>"   IOSTANDARD = LVTTL;
NET "data<21>"   IOSTANDARD = LVTTL;
NET "data<22>"   IOSTANDARD = LVTTL;
NET "data<23>"   IOSTANDARD = LVTTL;
NET "data<24>"   IOSTANDARD = LVTTL;
NET "data<25>"   IOSTANDARD = LVTTL;
NET "data<26>"   IOSTANDARD = LVTTL;
NET "data<27>"   IOSTANDARD = LVTTL;
NET "data<28>"   IOSTANDARD = LVTTL;
NET "data<29>"   IOSTANDARD = LVTTL;
NET "data<30>"   IOSTANDARD = LVTTL;
NET "data<31>"   IOSTANDARD = LVTTL;
NET "INTA"      LOC = P10   | IOSTANDARD = LVTTL;
NET "start"     LOC = P8    | IOSTANDARD = LVTTL;
NET "t_clk_in"     LOC = P6    | IOSTANDARD = LVTTL;
NET "ready_sig" LOC = P2    | IOSTANDARD = LVTTL;
NET "err"       LOC = P144  | IOSTANDARD = LVTTL;
NET "op_done"   LOC = P57   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P142  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P140  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P138  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P134  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P132  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P127  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P124  | IOSTANDARD = LVTTL;


# NET "U"         LOC = P50   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P40   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P34   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P32   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P29   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P26   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P23   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P21   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P16   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P14   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P11   | IOSTANDARD = LVTTL;
# NET "U"         LOC = P9    | IOSTANDARD = LVTTL;
# NET "U"         LOC = P7    | IOSTANDARD = LVTTL;
# NET "U"         LOC = P5    | IOSTANDARD = LVTTL;
# NET "U"         LOC = P1    | IOSTANDARD = LVTTL;
# NET "U"         LOC = P143  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P141  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P139  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P137  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P133  | IOSTANDARD = LVTTL;
# NET "U"         LOC = P131  | IOSTANDARD = LVTTL;
NET "state_out<0>"         LOC = P134 | IOSTANDARD = LVTTL;
NET "state_out<1>"         LOC = P133 | IOSTANDARD = LVTTL;
NET "state_out<2>"         LOC = P132 | IOSTANDARD = LVTTL;
NET "state_out<3>"         LOC = P131 | IOSTANDARD = LVTTL;
NET "state_out<4>"         LOC = P127 | IOSTANDARD = LVTTL;
NET "state_out<5>"         LOC = P126 | IOSTANDARD = LVTTL;
NET "state_out<6>"         LOC = P124 | IOSTANDARD = LVTTL;
NET "state_out<7>"         LOC = P123 | IOSTANDARD = LVTTL;
