NET "CLK" TNM_NET=CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 50 MHZ HIGH 50%;

NET "A<3>"      LOC = P66   | IOSTANDARD = LVTTL;
NET "A<2>"      LOC = P74   | IOSTANDARD = LVTTL;
NET "A<1>"      LOC = P78   | IOSTANDARD = LVTTL;
NET "A<0>"      LOC = P80   | IOSTANDARD = LVTTL;
NET "_CE"       LOC = P82   | IOSTANDARD = LVTTL;
NET "_IO<0>"    LOC = P84   | IOSTANDARD = LVTTL;
NET "_IO<1>"    LOC = P87   | IOSTANDARD = LVTTL;
NET "_IO<2>"    LOC = P92   | IOSTANDARD = LVTTL;
NET "_IO<3>"    LOC = P94   | IOSTANDARD = LVTTL;
NET "_IO<4>"    LOC = P101  | IOSTANDARD = LVTTL;
NET "_IO<6>"    LOC = P104  | IOSTANDARD = LVTTL;
NET "_IO<7>"    LOC = P111  | IOSTANDARD = LVTTL;
NET "_IO<8>"    LOC = P114  | IOSTANDARD = LVTTL;
NET "_WE"       LOC = P116  | IOSTANDARD = LVTTL;
NET "A<4>"      LOC = P118  | IOSTANDARD = LVTTL;
NET "A<14>"     LOC = P120  | IOSTANDARD = LVTTL;
NET "A<13>"     LOC = P119  | IOSTANDARD = LVTTL;
NET "A<12>"     LOC = P121  | IOSTANDARD = LVTTL;
NET "A<5>"      LOC = P51   | IOSTANDARD = LVTTL;
NET "A<6>"      LOC = P41   | IOSTANDARD = LVTTL;
NET "A<7>"      LOC = P35   | IOSTANDARD = LVTTL;
NET "_OE"       LOC = P33   | IOSTANDARD = LVTTL;
NET "_BHE"      LOC = P30   | IOSTANDARD = LVTTL;
NET "_BLE"      LOC = P27   | IOSTANDARD = LVTTL;
NET "_IO<15>"   LOC = P24   | IOSTANDARD = LVTTL;
NET "_IO<14>"   LOC = P22   | IOSTANDARD = LVTTL;
NET "_IO<13>"   LOC = P17   | IOSTANDARD = LVTTL;
NET "_IO<12>"   LOC = P15   | IOSTANDARD = LVTTL;
NET "_IO<11>"   LOC = P8    | IOSTANDARD = LVTTL;
NET "_IO<10>"   LOC = P6    | IOSTANDARD = LVTTL;
NET "_IO<9>"    LOC = P2    | IOSTANDARD = LVTTL;
NET "_IO<8>"    LOC = P144  | IOSTANDARD = LVTTL;
NET "A<8>"      LOC = P140  | IOSTANDARD = LVTTL;
NET "A<9>"      LOC = P138  | IOSTANDARD = LVTTL;
NET "A<10>"     LOC = P134  | IOSTANDARD = LVTTL;
NET "A<11>"     LOC = P132  | IOSTANDARD = LVTTL;
